.loading {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
}

/* line */
.loading.line span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  animation: line 1.04s ease infinite;
}
.loading.line span:last-child {
  margin-right: 0px;
}
@keyframes line {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
.loading.line span:nth-child(1) {
  animation-delay: 0.13s;
}
.loading.line span:nth-child(2) {
  animation-delay: 0.26s;
}
.loading.line span:nth-child(3) {
  animation-delay: 0.39s;
}
.loading.line span:nth-child(4) {
  animation-delay: 0.52s;
}
.loading.line span:nth-child(5) {
  animation-delay: 0.65s;
}

/* wave */
.loading.wave span {
  width: 5px;
  height: 15px;
  margin-right: 5px;
  border-radius: 2px;
  display: inline-block;
}
@keyframes wave {
  0% {
    transform: scale(0.6, 0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.8;
  }
}
.loading.wave span:nth-child(1) {
  animation: wave 0.5s -0.3s ease-in-out infinite alternate;
}
.loading.wave span:nth-child(2) {
  animation: wave 0.5s -0.25s ease-in-out infinite alternate;
}
.loading.wave span:nth-child(3) {
  animation: wave 0.5s -0.2s ease-in-out infinite alternate;
}
.loading.wave span:nth-child(4) {
  animation: wave 0.5s -0.1s ease-in-out infinite alternate;
}
.loading.wave span:nth-child(5) {
  animation: wave 0.5s 0s ease-in-out infinite alternate;
}

/* circle */
.loading.circle {
  width: 7px;
  position: relative;
  bottom: 10px;
}
.loading.circle span {
  width: 3px;
  height: 9px;
  position: absolute;
  border-radius: 2px;
}
@keyframes circle {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.loading.circle span:nth-child(1) {
  top: -11px;
  left: 0;
  animation: circle 0.5s -0.4s infinite ease-in-out;
}
.loading.circle span:nth-child(2) {
  top: -8px;
  left: 9px;
  transform: rotate(45deg);
  animation: circle 0.5s -0.35s infinite ease-in-out;
}
.loading.circle span:nth-child(3) {
  top: 0px;
  left: 13px;
  transform: rotate(90deg);
  animation: circle 0.5s -0.3s infinite ease-in-out;
}
.loading.circle span:nth-child(4) {
  top: 9px;
  left: 9px;
  transform: rotate(-45deg);
  animation: circle 0.5s -0.25s infinite ease-in-out;
}
.loading.circle span:nth-child(5) {
  top: 12px;
  left: 0px;
  transform: rotate(0deg);
  animation: circle 0.5s -0.2s infinite ease-in-out;
}
.loading.circle span:nth-child(6) {
  top: 9px;
  left: -9px;
  transform: rotate(45deg);
  animation: circle 0.5s -0.15s infinite ease-in-out;
}
.loading.circle span:nth-child(7) {
  top: 0px;
  left: -12px;
  transform: rotate(90deg);
  animation: circle 0.5s -0.1s infinite ease-in-out;
}
.loading.circle span:nth-child(8) {
  top: -8px;
  left: -9px;
  transform: rotate(-45deg);
  animation: circle 0.5s 0s infinite ease-in-out;
}
